
#pragma code_page(65001) // UTF-8

#define IDI_ICON 1001

#include <Windows.h>

IDI_ICON ICON DISCARDABLE "logo.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1, 3, 0, 0
    PRODUCTVERSION 1, 3, 0, 0
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS VS_FF_DEBUG
#else
    FILEFLAGS 0x0L
#endif
    FILEOS VOS_NT_WINDOWS32
    FILETYPE VFT_APP
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080404b0"
            BEGIN
                VALUE "CompanyName", "Cube Studio"
                VALUE "FileDescription", "PvZ Toolkit"
                VALUE "FileVersion", "1.3.0.0"
                VALUE "LegalCopyright", "(C) 2020 lmintlcx"
                VALUE "InternalName", "pvztoolkit"
                VALUE "OriginalFilename", "pvztoolkit.exe"
                VALUE "ProductName", "PvZ Toolkit"
                VALUE "ProductVersion", "1.3.0.0"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0804, 1200
        END
    END
